<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bookstore">
      <h2 data-cy="bookstoreDetailsHeading"><span jhiTranslate="amazinBookstoreApp.bookstore.detail.title">Bookstore</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="amazinBookstoreApp.bookstore.id">Id</span></dt>
        <dd>
          <span>{{ bookstore.id }}</span>
        </dd>
        <dt><span jhiTranslate="amazinBookstoreApp.bookstore.name">Name</span></dt>
        <dd>
          <span>{{ bookstore.name }}</span>
        </dd>
        <dt><span jhiTranslate="amazinBookstoreApp.bookstore.owner">Owner</span></dt>
        <dd>
          <div *ngIf="bookstore.owner">
            <a [routerLink]="['/owner', bookstore.owner?.id, 'view']">{{ bookstore.owner?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bookstore', bookstore.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
