<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <title>Search For Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Search Results</h1>
<p th:text="'Search term: '+${query}"></p>
<span th:if="${books.isEmpty()}">No books with that name!</span>
<span th:unless="${books.isEmpty()}">
        <table>
        <thead>
        <tr>
            <th> Title </th>
            <th> Author </th>
            <th> Publisher </th>
            <th> ISBN </th>
            <th> Picture </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${books.isEmpty()}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="book : ${books}">
            <td><a th:text="${book.bookName}" th:href="'view_book?id='+${book.getId()}"> Title </a></td>
            <td><span th:text="${book.author}"> Author </span></td>
            <td><span th:text="${book.publisher}"> Publisher </span></td>
            <td><span th:text="${book.ISBN}"> ISBN </span></td>
            <td><span th:text="${book.picture}"> Picture </span></td>
            <td><span th:text="${book.quantity}"> Quantity </span></td>
        </tr>
        </tbody>
    </table>
    </span>
<a th:href="'view_all_bookstores'">Return to Bookstore list</a>
</body>
</html>