<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Checkout</h1>

<span th:if="${sale.getBooks().isEmpty()}">You have no books in your cart</span>
<span th:unless="${sale.getBooks().isEmpty()}">
    <table>
        <tr>
            <th>Book Name</th>
            <th style="text-align:left; padding:0 30px 0 30px">Price</th>
            <th style="text-align:left; padding:0 30px 0 30px">Quantity</th>
            <th>Options</th>
        </tr>
        
        <tr th:each="book : ${sale.getBooks()}">
            <td><a th:href="'view_book?id='+${book.getId()}" th:text="${book.getBookName()}"></a></td>
            <td style="text-align:left; padding:0 30px 0 30px" th:text="${#numbers.formatDecimal(book.getPrice(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td style="text-align:left; padding:0 30px 0 30px" th:text="${sale.getQuantity(book.getId())}"></td>
            <td>
            </td>
        </tr>
        <tr style="border-bottom:1px solid black">
            <td colspan="100%"></td>
        </tr>
        <tr>
            <td>Subtotal:</td>
            <td style="text-align:left; padding:0 30px 0 30px" th:text="${#numbers.formatDecimal(sale.calculateTotal(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        <tr>
            <td>Tax:</td>
            <td style="text-align:left; padding:0 30px 0 30px" th:text="${#numbers.formatDecimal(sale.calculateTax(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
        </tr>
        <tr>
            <td>Total:</td>
            <td style="text-align:left; padding:0 30px 0 30px" th:text="${#numbers.formatDecimal(sale.calculateTotalWithTax(), 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
            <td></td>
            <td>
                <form action="#" th:action="@{/user/complete_checkout}" method="get">
                    <button name="completeSale" value="completeSale">Complete Sale</button>
                </form>
            </td>
        </tr>
    </table>
</span>
<br><br>
</body>
<footer>
<a th:href="'view_cart'">Return to cart</a>
</footer>
</html>