<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
<body>
<h3 id="pageTitle" style="width: 100%">Bookstore Books</h3>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 25%">
		<a class="navbar-brand" th:href="@{/}">Login Page</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto" style="width: 100%">
				<li
					class="${activePage == 'new-bookstore'}? 'nav-item active' : 'nav-item'"
					onclick="history.back(-1)" style="width: 65%"><a class="pointer">Selected Bookstore </a></li>
					<li
					th:class="${activePage == 'view_cart'}? 'nav-item active' : 'nav-item'"><a
					class="menuusItem" th:href="'view_cart'">View Cart</a></li>

			</ul>

		</div>
	</nav>
	
    <h1>Book Information</h1>
    <p th:text="'Name: ' + ${book.getBookName()}"></p>
    <p th:text="'ISBN: ' + ${book.getISBN()}"></p>
    <p th:text="'Picture: ' + ${book.getPicture()}"></p>
    <p th:text="'Author: ' + ${book.getAuthor()}"></p>
    <p th:text="'Description: ' + ${book.getDescription()}"></p>
    <p th:text="'Publisher: ' + ${book.getPublisher()}"></p>
    <p th:text="'Copies available: ' + ${book.getQuantity()}"></p>
    <p th:text="'Price: ' + ${#numbers.formatDecimal(book.getPrice(), 1, 'DEFAULT', 2, 'DEFAULT')}"></p>
    <form action="#" th:action="@{/user/add_to_cart(id=${book.getId()})}" th:object="${book}" method="post">
        <button name="addToCart" value="addToCart">Add to cart</button>
    </form>
    <br><br>
    <a th:href="'view_cart'" th:text="'View cart'"></a>
    <br>
</body>
<footer>
    <a th:href="'view_bookstore?id='+${book.getStore().getId()}">Return to bookstore</a>
</footer>
</html>