<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Successful</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<h1>My Cart</h1>

<span th:if="${books.isEmpty()}">You have no books in your cart</span>
<span th:unless="${books.isEmpty()}">
    <table>
        <tr>
            <th style="text-align:left">Book Name</th>
            <th style="text-align:right">Options</th>
        </tr>
        
        <tr th:each="book : ${books}">
            <td><a th:href="'view_book?id='+${book.getId()}" th:text="${book.getBookName()}"></a></td>
            <td>
                <form action="#" th:action="@{/user/remove_from_cart(id=${book.getId()})}" th:object="${book}" method="post">
                    <button name="removeFromCart" value="removeFromCart">Remove</button>
                </form>
            </td>
        </tr>
    </table>
</span>
<br><br>
</body>
<footer>
<a th:href="'view_all_bookstores'">Return to Bookstore list</a>
</footer>
</html>