<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dev Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Development Page</h1>
    <ul>
        <li><a th:href="'/new-owner'"> Create a Owner </a></li>
        <li><a th:href="'/new-book'"> Create a new Book </a></li>
        <li><a th:href="'/new-user'">Create a new User </a></li>
        <li><a th:href="'/new-bookstore'">Create a new Bookstore </a></li>
    </ul>
</body>
</html>