<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<style type="text/css">
		html
		{
		    width: 100%;
		    height: 100%;
		}
		
		body
		{
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
			flex-direction: column;
		}
		footer 
		{ 
			position: fixed;
			bottom: 0;
		
		}
	</style>
    <meta charset="UTF-8">
    <title>Add a New Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <h1>Creating a Book</h1>
    <form action="#" th:action="@{/added_book(id=${id})}" th:object="${book}" method="post">
        <p>Name:<br> <input type="text" th:field="*{bookName}" /></p>
        <p>ISBN:<br> <input type="text" th:field="*{ISBN}" /></p>
        <p>Picture:<br> <input type="text" th:field="*{picture}" /></p>
        <p>Author:<Br> <input type="text" th:field="*{author}" /></p>
        <p>Description:<br> <input type="text" th:field="*{description}" /></p>
        <p>Publisher:<br> <input type="text" th:field="*{publisher}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</body>
</html>