<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login Successful</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<h3 id="pageTitle" style="width: 100%">All Bookstores Page</h3>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}">Login Page</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li
					class="${activePage == 'new-bookstore'}? 'nav-item active' : 'nav-item'"
					onclick="history.back(-1)"><a class="pointer">Owner Home Page </a></li>



			</ul>

		</div>
	</nav>

	<h1>Stores List</h1>
	<tr th:each="store : ${stores}">
		<li><a th:href="'bookstore?id='+${store.getId()}"
			th:text="${store.getName()}"></a></li>
	</tr>
</body>
<footer>
	<a th:href="'/login_page_owner?id='+${id}">Return to login page</a>
</footer>
</html>