body {
    margin: 150px 0 0 0;
    height: auto;
    font-size: large;
    display: flex;
    align-items: center;
	flex-direction: column;
    justify-content: center;
}
footer {
	position: fixed;
	bottom: 50px;
}
